/* font integration  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/* Global scroll Behaviour */
html {
  scroll-behavior: smooth;
}
/* css variables  */
:root {
  --primaryCol: #cc0014;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #d4c7c7;
  --mainSpacing: 0.25rem;
  --mainTransition: all 0.3s linear;
  --lightShadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.25);
  --darkShadow: 4px 10px 6px 0 rgba(0, 0, 0, 0.5);
}
/* reset  */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
  font-size: 1rem;
  color: #000;
  background-color: var(--offWhite);
}

/**********************Global styles*************************/
img:not(.nav-logo) {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: var(--mainSpacing);
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1.25rem;
}
h1 {
  font-size: 3.3rem;
}
h2 {
  font-size: 2.3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.2rem;
}
p {
  margin-bottom: 1.25rem;
  line-height: 2;
  font-weight: 300;
}
a {
  text-decoration: none;
}

/********MORE Global styles***/
/* Buttons  */
.btn-white,
.btn-primary {
  display: inline-block;
  text-transform: uppercase;
  padding: 1rem 1.6rem;
  margin-top: 1.5rem;
  color: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
  cursor: pointer;
}
.btn-primary {
  color: var(--mainWhite);
  background-color: var(--primaryCol);
  outline: 0.2rem solid var(--primaryCol);
}
.btn-primary:hover {
  color: var(--primaryCol);
  background: transparent;
  outline-offset: 3px;
  transform: translatey(5px);
}

.btn-white:hover {
  color: var(--primaryCol);
  background-color: var(--mainWhite);
}
/* section  */
.section {
  padding: 5rem 0;
}
/* title  */
.title-wrapper {
  margin-bottom: 2rem;
}

.title {
  color: var(--mainWhite);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-align: center;
  font-size: 2.6rem;
}
.subtitle {
  color: var(--primaryCol);
  margin-left: 1.5rem;
  text-transform: uppercase;
  font-family: 'Russo One';
}

.section-center {
  width: 85vw;
  margin: 4rem auto 2rem auto;
  max-width: 1170px;
}

/* clearfix */
.clearfix::after,
.clearfix::before {
  content: '';
  clear: both;
  display: table;
}
/**********************end of Global styles************************/

/**********************navbar*************************/

.navbar {
  width: 100%;
  background-color: #612328;
}
.nav-logo {
  padding: none;
  cursor: pointer;
}

.nav-header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-icons {
  display: none;
}

.nav-toggle {
  border: none;
  background: transparent;
  outline: none;
  font-size: 1.5rem;
  color: var(--primaryCol);
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.nav-toggle:hover {
  transform: scale(1.2);
  color: var(--mainWhite);
}
.nav-link {
  display: block;
  padding: 1rem 2rem;
  color: var(--mainWhite);
  font-family: 'Russo One';
  font-size: large;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
}

.nav-link:hover {
  color: var(--primaryCol);
  background: var(--darkGrey);
  padding-left: 2.5rem;
}

@media screen and (min-width: 800px) {
  .navbar {
    width: 100%;
    background-color: rgba(204, 0, 20, 0.2);
  }

  .links-container {
    height: auto !important;
  }
  .nav-toggle {
    display: none;
  }
  .nav-links {
    display: flex;
    height: auto;
  }
  .nav-icons {
    display: flex;
  }
  .nav-center {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .nav-header {
    padding: 0;
  }
  .nav-link {
    padding: 0;
  }
  .nav-link:hover {
    padding: 0;
    background: transparent;
  }
  .navbar {
    padding: 0 2rem;
  }

  .nav-link {
    margin-right: 2rem;
  }
  .nav-icon {
    margin-right: 0.7rem;
    color: var(--mainWhite);
    font-size: 1.7rem;
    transition: var(--mainTransition);
  }
  .nav-icon:hover {
    color: var(--primaryCol);
    transform: translateY(-10px);
  }
  .nav-logo {
    display: flex;
    justify-content: flex-start;
  }
}

/* .fixed-nav .links-container {
  height: auto !important;
} */

/* fixed navbar  */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #612328;
  transition: var(--mainTransition);
  box-shadow: var(--lightShadow);
  z-index: 10;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
}
.show-links {
  height: 290px;
}
/* Back To Top Button  */
.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: var(--primaryCol);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  color: var(--mainBlack);
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* <<<<<<<<<<<<end of navbar >>>>> */
/**********************hero* ************************/
.hero {
  /* min-height: calc(100vh - 62px); */
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 0.3) 0%,
    rgba(204, 0, 20, 0.2)
  );
  min-height: 100vh;
  position: relative;
  top: 50%;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-banner {
  text-align: center;
  color: var(--primaryCol);
  padding: 0 2rem;
}
.hero-title {
  color: var(--mainWhite);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2rem;
  letter-spacing: 0.4rem;
  overflow: hidden;
  padding: 0.5rem;
}
/* animation for cursor  */
.typed-text {
  font-weight: 500;
  color: orange;
  font-family: 'Russo One';
}
.cursor {
  display: inline-block;
  width: 5px;
  background-color: var(--mainWhite);
  margin-left: 0.1rem;
  animation: blink 1s infinite;
}
.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: var(--mainWhite);
  }
  49% {
    background-color: var(--mainWhite);
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: var(--mainWhite);
  }
}
/* end of animation cursor */
.hero-text {
  color: var(--offWhite);
  width: 85%;
  font-weight: 400;
  margin: 0 auto;
  letter-spacing: var(--mainSpacing);
}
#videoBG {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  z-index: -5;
}

/* <<<<option for mobile screen to not load video >>>> */
@media screen and (max-width: 767px) {
  #videoBG {
    display: none;
  }
  body {
    background: url('poster.jpg');
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 4.5rem;
  }
  .hero-text {
    width: 70%;
  }
  .hero-banner {
    opacity: 1;
  }
}
@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}
/**********************end of hero**************************/

/* ********services section ******** */
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #232427;
}

.services-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0;
}

.services-card {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin-bottom: 4rem;
  perspective: 300px;
  transform-style: preserve-3d;
}

.serv-container {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border: 2px solid #1e1f23;
  border-radius: 15px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.services-box-front,
.services-box-back {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.services-box-back {
  background: #2a2b2f;
  transform: rotateY(180deg);
}

.serv-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}
.serv-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

.services-card:hover .serv-container {
  animation: flip 1s ease-out 1;
  animation-fill-mode: forwards;
  box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
  transform: rotateY(540deg);
  transition: transform 1s;
}

@keyframes flip {
  95% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.hover_btn:nth-child(1) a {
  background: #2196f3;
}
.hover_btn:nth-child(2) a {
  background: #e91e63;
}
.hover_btn:nth-child(3) a {
  background: #97dc47;
}

.card-content {
  padding: 20px;
  text-align: center;
}

.card-number {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.05);
}

.card-title {
  letter-spacing: 0;
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 0;
}

.card-text {
  color: lightseagreen;

  line-height: 2rem;
  font-size: 16px;
  font-weight: 600;
  z-index: 1;
  transition: 0.5s;
}

.card-btn,
.hover_btn {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #000;
  margin-top: 15px;
  border-radius: 20px;
  font-weight: 400;
  color: var(--mainWhite);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.services-card:nth-child(1) a {
  background: #2196f3;
}
.services-card:nth-child(2) a {
  background: #e91e63;
}
.services-card:nth-child(3) a {
  background: #97dc47;
}

@media screen and (min-width: 759px) {
  .services-center {
    display: flex;
    /* after   */
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
/* ********** end of services section *********** */

/*  Our Facilities  */
.facilities {
  background: #000;
}
.facilities-center {
  background: #000;
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.facility-card {
  margin: 0px 3rem;
  margin-bottom: 5rem;
  max-width: 100%;
}

.facilities-container {
  position: relative;
}
/* red linear gradient  */
.facilities-container:hover {
  background: linear-gradient(
    to right,
    rgba(248, 80, 50, 0.2) 0%,
    rgba(230, 133, 120, 0.2) 100%
  );
}
.facilities-container:hover .facilities-img {
  opacity: 0.5;
}
.facilities-container:hover .detail-icon {
  opacity: 1;
}
/* center icon  */
.detail-icon {
  /* color: var(--primaryCol); */
  color: #e3fa12;
  font-size: 6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: var(--mainTransition);
  transition-delay: 0.2s;
}
/* all classes with active are scrollTrigger */
.detail-icon.active {
  opacity: 0.5;
}
.reveal {
  font-family: 'Russo One';
  color: var(--mainWhite);
  text-align: center;
  font-size: 1.5rem;
  position: relative;
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.5s;
  transition-delay: 0.5s;
}

.reveal.active {
  transform: scaleX(1);
  transition-delay: 0s;
}
.reveal:nth-child(2) {
  font-weight: 300;
  font-size: 1rem;
}
.reveal:nth-child(2)::before {
  background: #2196f3;
}
.reveal::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2196f3;
  transform-origin: right;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.reveal.active::before {
  transform: scaleX(0);
  transition-delay: 0.6s;
}
.sub-text {
  color: var(--mainWhite);
  margin-bottom: 1.5rem;
}

.sub-text:nth-child(3) {
  margin-top: 1rem;
}

.facilities-img {
  display: block;
  position: relative;
  left: -100px;
  margin-top: 20px;
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}

.facilities-img.active {
  opacity: 1;
  left: 0;
}
/* For Bigger Window */
@media screen and (min-width: 800px) {
  .facility-card {
    margin: 0px;
    margin-bottom: 7rem;
    max-width: 30%;
  }
  .facilities-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .facilities-img {
    max-width: 800px;
  }
}

/*<<<<<<<<<<<<<<< Store section >>>>>>>>>>>>>>>>> */
.store {
  position: relative;
  width: 100%;
  min-height: 60vh;
}

.store .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
}

.store .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: fit-content;
  opacity: 0;
  transition: 0.5s;
  background: center/cover;
}

.section_fix {
  padding: 5rem;
  background: #232427;
}

.store .imgBx img.active {
  opacity: 1;
}

.controls {
  position: absolute;
  top: 85%;
  transform: translateY(-50%);
  right: 39%;
  width: 80px;
}
.controls li {
  position: relative;
  width: 71px;
  height: 71px;
  background: #fff;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.controls li:hover {
  background: #ffeb3b;
}

.controls li::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-left: 3px solid #111;
  border-bottom: 3px solid #111;
  transform: rotate(45deg);
}
.controls li:nth-child(2)::before {
  transform: rotate(225deg);
}
/**********************about**************************/

.about-info,
.about-img {
  margin-bottom: 4rem;
  color: white;
}
.about-info {
  position: relative;
  top: 0;
  left: 65%;
}

.info-title {
  text-transform: uppercase;
}
@media screen and (min-width: 992px) {
  .about-center {
    display: flex;
    justify-content: space-between;
  }
  .about-info,
  .about-img {
    flex: 0 0 calc(50% - 2rem);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1170px) {
  .about-img::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.5rem solid var(--primaryCol);
    top: -1.5rem;
    left: -1.5rem;
  }
  .about-img {
    position: relative;
  }
}
/**********************end of about**************************/
/*<<<<<<<<<<<<< End of Store Section >>>>>>>>>>>>> */

/*<<<<<<<<<<<<<<<<<<<<<<<<< footer section >>>>>>>>>>>>>>>*/
.footer {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* min-height: 100vh; */
  flex-direction: column;
  background: #ede7f6;
}
.inner_footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #111;
  /* display: flex; */
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.sect {
  margin-right: 30px;
  width: 40%;
}

.sect h2 {
  position: relative;
  color: var(--mainWhite);
  font-weight: 500;
  margin-bottom: 15px;
}
.sect h2::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}

.footer p {
  color: #999;
}

.sci {
  margin-top: 20px;
  display: flex;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 5px;
}
.sci li a:hover {
  background-color: #f00;
}
.sci li a .fab {
  color: #fff;
  font-size: 20px;
}

/* Quicklinks Column */
.footer_links {
  position: relative;
  width: 25%;
  list-style: none;
}
.footer_links ul li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.footer_links ul li a :hover {
  color: var(--mainWhite);
}

/* Contact Column  */
.footer_contact {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.info {
  position: relative;
}
.info li {
  display: flex;
  margin-bottom: 16px;
}

.info li span:nth-child(1) {
  color: var(--mainWhite);
  font-size: 20px;
  margin-right: 10px;
}
.info li span {
  color: #999;
}
.info li a {
  color: #999;
  text-decoration: none;
}

.info li a:hover {
  color: var(--mainWhite);
}

.copyright_text {
  width: 100%;
  background: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
  z-index: 20;
}

@media screen and (max-width: 991px) {
  .inner_footer {
    padding: 40px;
  }
  .footer_container {
    flex-direction: column;
  }
  .sect {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .footer_links,
  .sect,
  .footer_contact {
    width: 100%;
  }
  .copyright_text {
    padding: 8px 40px;
  }
}

/* End of Footer Section  */
