.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__logo {
  background-color: transparent;
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.login__container {
  background-color: white;
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}
.login__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #cc353e;
}
.login__container > form > h5 {
  margin-bottom: 5px;
}
.login__container > form > input {
  height: 20px;
  margin-bottom: 10px;
  background-color: white;
  width: 90%;
  padding: 1rem;
}
.login__container > p {
  margin-top: 15px;
  font-size: 12px;
}

.login__SignInBtn {
  background-color: #cc353e;
  border: 1px solid;
  width: 100%;
  height: 30px;
  border-radius: 2px;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #fff;
  cursor: pointer;
}
.or_text {
  text-align: center;
}
.login__RegisterBtn {
  border: 1px solid;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border-color: darkgray;
  color: #111;
  cursor: pointer;
  text-transform: uppercase;
}
.login__RegisterBtn:hover {
  color: #cc353e;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #cc353e;
}
